<!DOCTYPE html>
<head>
  <title>Poker Stars</title>
  <link rel="stylesheet" href={{ style }}>
  <link rel="stylesheet" href={{ cardStyle }}>
</head>
<body>
  {{> navbar }}
  {{{ body }}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src={{ cards }} ></script>
<script src={{ game }} ></script>
</html>