extends layout

block content
  h1 Lobby page (authenticated)
  if username
    h2 Welcome #{username} (#{userID})

  #game-list
    h2 Create New Game
    #create-game

      //- form(action="/gameroom/create" method="POST")
      form(action="/gameroom/create/gameroom" method="POST")
        label(for="title") Title (optional):
        input#title(type="text" name="title")
        button#create-game(type="submit") Create

    h2 Active Gamerooms
    #active-games-list
      ul
        each gameroom in gamerooms.active
          li
            a(href=`/gameroom/${gameroom.id}/${gameroom.title}`) #{gameroom.title}

    h2 Joinable Gamerooms
    #joinable-games-list
      ul
        each gameroom in gamerooms.joinable
          li
            form(action=`/gameroom/${gameroom.id}/${gameroom.title}/join` method="POST")
              button(type="submit") Join #{gameroom.title || gameroom.id}

  template#message
    span.sender
    span.content
    span.timestamp

  h2 Chat
  #chat
    #messages
    #send
      input(type="text" id="message-field")

block footer
  script(src="/socket.io/socket.io.js")
  script(src="../../public/js/setup.js")
  script(src="../../public/js/chat.js")
  script(src="../../public/js/game-management.js")