extends layout

block content
  h1 Lobby page (authenticated)
  if username
    h2 Welcome #{username} (#{userID})

  #game-list
    h2 Create New Game
    #create-game
      form(action="/gameroom/create" method="POST")
        label(for="title") Title (optional):
        input#title(type="text" name="title")
        button#create-game(type="submit") Create

    h2 Active Games
    #active-games-list
      ul
        each game in games.active
          li
            a(href=`/game/${game.id}/${game.title}`) #{game.title}

    h2 Joinable Games
    #joinable-games-list
      ul
        each game in games.joinable
          li
            form(action=`/gameroom/${game.id}/${game.title}/join` method="POST")
              button(type="submit") Join #{game.title || game.id}

  template#message
    span.sender
    span.content
    span.timestamp

  h2 Chat
  #chat
    #messages
    #send
      input(type="text" id="message-field")

block footer
  script(src="/socket.io/socket.io.js")
  script(src="../../public/js/setup.js")
  script(src="../../public/js/chat.js")
  script(src="../../public/js/game-management.js")